.pictoNav {
    display: grid;
    grid-template-columns: 1fr 30px;
    text-decoration: none;
    backdrop-filter: var(--backdrop-filter);
    border: .5px solid rgb(var(--border-color));
    background-color: rgba(var(--text-color), .1);
    padding: 15px;
    border-radius: var(--radius);
    margin-right: 10px;
    min-width: 210px;
    transition: .5s;
}
.pictoNav__active, .pictoNav:hover {
    background-color: rgba(var(--color-primary), .3);
    transition: .5s;
}
.pictoNav_left {
    line-height: 1;
}
.pictoNav_left__topTitle {
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(var(--text-color), .5);
    line-height: 1;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.pictoNav_left__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(var(--text-color));
}
.pictoNav_right {
    color: rgb(var(--text-color));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: .5s;
}
.pictoNav__active .pictoNav_right, .pictoNav:hover .pictoNav_right {
    color: rgb(var(--color-primary));
    transition: .5s;
}