.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
}
@media screen and (max-width:768px) {
    .controls {
        align-items: flex-end;
        padding-right: 0;
        padding-left: 0;
    }
}

/* Audio */
.audio {
    display: none;
}

